@import 'tailwindcss';

:root {
  font-family: 'Segoe UI', Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --radius: 0.625rem;

  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}

@theme inline {
  --color-text: var(--text);
  --color-text-h: var(--text-h);
  --color-bg: var(--bg);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-accent-bg: var(--accent-bg);
  --color-accent-border: var(--accent-border);
  --color-social-bg: var(--social-bg);
  --color--social-bg: var(--social-bg);
}

@layer base {
  body {
    margin: 0 auto;
    width: 1280px;
    max-width: calc(100% - 20px);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-text-h font-bold;
  }

  h1 {
    @apply text-4xl leading-tight;
  }
  h2 {
    @apply text-3xl font-semibold leading-snug;
  }
  h3 {
    @apply text-2xl font-semibold leading-snug;
  }
  h4 {
    @apply text-xl font-medium leading-normal;
  }
  h5 {
    @apply text-lg font-medium leading-normal;
  }
  h6 {
    @apply text-base font-medium leading-normal;
  }
  p {
    @apply text-base leading-normal text-text;
  }
  a {
    @apply text-accent transition-colors;
  }
}
